<library path="src">
  <class name="ActionPlugin" type="rqt_explain_bt.explain_bt_plugin.ExplainBTPlugin" 
  base_class_type="rqt_gui_py::Plugin">
    <description>
     A Python GUI for browsing available ROS action types.
    </description>
    <qtgui>
      <group>
        <label>Miscellaneous Tools</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to ROS actions.</statustip>
      </group>
      <label>Explain BT Plugin</label>
      <icon type="theme">mail-read</icon>
      <statustip>A Python GUI for browsing available ROS action types.</statustip>
    </qtgui>
  </class>
</library>
