<launch>


    <node name="explainable_bt_server" pkg="explain_bt" type="explain_bt_test" output="screen"/>
    <!--
            <param name="bt_xml" value="$(find explain_bt)/src/test_tree.xml"/>

            <node pkg="explain_bt" type="explain_bt_test" name="explain_bt_test" ns="/vx300s" output="screen"/>
    -->

</launch>